<!-- Begin Banner -->
	<section class="banner">
		<div class="row collapse">
			<div class="small-12 columns text-center">
				[[tpl_top_banner_div]]
			</div>
		</div>
	</section>
<!-- End Banner -->
<!-- Begin Content -->
	<section class="content">
		<div class="row">
			<div class="small-12 columns">
				<div class="sort_by">
					<div class="row align-right">
						<div class="small-12 medium-3">
							[[tpl_sort_by]]
						</div>
					</div>
				</div>
				<div class="products">
					[[div_with_products]]
				</div>
				<div class="description">
					[[group_description]]
				</div>
				<div class="page_nav">
					<div class="row align-right">
						<div class="small-12 medium-3">
							<p>Pagina:</p>
							[[tpl_page_nav]]
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End Content -->