<!-- Begin Banner -->
	<section class="banner">
		<div class="row collapse expanded">
			<div class="small-12 columns">
				<div class="orbit" role="region" aria-label="Banner" data-orbit>
					<div class="orbit-wrapper">
						<div class="orbit-controls">
							<button class="orbit-previous"><span class="show-for-sr">Anterior</span>&#9664;&#xFE0E;</button>
							<button class="orbit-next"><span class="show-for-sr">Siguiente</span>&#9654;&#xFE0E;</button>
						</div>
						<ul class="orbit-container">
							<li class="is-active orbit-slide">
								<figure class="orbit-figure">
									<img class="orbit-image" src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/banner-principal-1.jpg">
								</figure>
							</li>
							<li class="orbit-slide">
								<figure class="orbit-figure">
									<img class="orbit-image" src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/banner-principal-2.jpg">
								</figure>
							</li>
							<!--<li class="orbit-slide">
								<figure class="orbit-figure">
									<img class="orbit-image" src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/banner-principal-4.jpg">
								</figure>
							</li>-->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End Banner -->
<!-- Begin Content -->
	<section class="content">
		<div class="row">
			<div class="small-12 columns">
				<div class="row">
					<div class="small-12 medium-1 columns"></div>
					<div class="small-12 medium-3 columns">
						<p class="text-right"><strong>Relájate con un Spa de Sonido</strong></p>
						<p class="text-right">HoMedics ha sido nombrado como el socio oficial de acondicionamiento de sonido de la Fundación Nacional de Sueño de Estados Unidos.</p>
						<p class="text-right">La NSF ha reconocido a HoMedics por nuestra dedicación en la creación de productos que ayudan a lograr un sueño de calidad y sin distracciones.</p>
						<p class="text-right"><a href="/g/masajeadores-hm/cuello/" style="color: #5d5d5d;"><u>COMPRA MASAJEADORES DE CUELLO</u></a></p>
					</div>
					<div class="small-12 medium-8 columns">
						<p class="text-center"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/content.jpg"></p>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End Content -->
<!-- Begin Block 1 -->
	<section class="block_1">
		<div class="row">
			<div class="small-12 columns">
				<div class="row">
					<div class="small-12 medium-4 columns">
						<p class="text-center"><a href="/g/masajeadores-hm/cuello/"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/block_1_1.jpg"></a></p>
					</div>
					<div class="small-12 medium-4 columns">
						<p class="text-center"><a href="/g/spa-y-belleza-hm/pies/"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/block_1_2.jpg"></a></p>
					</div>
					<div class="small-12 medium-3 columns">
						<p><strong>Todos los días pueden ser un día de Spa</strong></p>
						<p>Permítele a tus pies disfrutar del lujo de un spa de pies en casa, con calor suave, vibración relajante y burbujas refrescantes.</p>
						<p><a href="/g/spa-y-belleza-hm/pies/" style="color: #5d5d5d;"><u>COMPRA SPAS DE PIES</u></a></p>
					</div>
					<div class="small-12 medium-1 columns"></div>
				</div>
				<div class="row">
					<div class="small-12 medium-6 columns">
						<p class="text-center"><a href="/g/masajeadores-hm/pies/"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/block_1_3.jpg"></a></p>
					</div>
					<div class="small-12 medium-6 columns">
						<p class="text-center"><a href="/g/masajeadores-hm/espalda/"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/block_1_4.jpg"></a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- End Block 1 -->
<!-- Begin Block 2 -->
	<!--<section class="block_2">
		<div class="row">
			<div class="small-12 medium-6 columns a">
				<h3 class="text-center">TÍTULO DEL PRODUCTO</h3>
				<p class="text-center">MÁS INFORMACIÓN</p>
				<p class="text-center"><a href="" class="button">LEER MÁS</a></p>
			</div>
			<div class="small-12 medium-6 columns b">
				<h3 class="text-center">TÍTULO DEL PRODUCTO</h3>
				<p class="text-center">MÁS INFORMACIÓN</p>
				<p class="text-center"><a href="" class="button">LEER MÁS</a></p>
			</div>
		</div>
	</section>-->
<!-- End Block 2 -->
<!-- Begin Block 5 -->
	<!--<section class="block_5">
		<div class="row">
			<div class="small-12 columns">
				<h3 class="text-center">NUESTROS DISTRIBUIDORES</h3>
				<div class="owl-carousel owl-theme">
					<div class="text-center"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/block_5_1.jpg"></div>
					<div class="text-center"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/block_5_1.jpg"></div>
					<div class="text-center"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/block_5_1.jpg"></div>
					<div class="text-center"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/block_5_1.jpg"></div>
					<div class="text-center"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/block_5_1.jpg"></div>
					<div class="text-center"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/block_5_1.jpg"></div>
					<div class="text-center"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/block_5_1.jpg"></div>
					<div class="text-center"><img src="https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/block_5_1.jpg"></div>
				</div>
			</div>
		</div>
	</section>-->
<!-- End Block 5 -->