[[product_in_cart]]
<!-- Begin Content -->
	<section class="content product">
		<div class="row">
			<div class="small-12 medium-6 columns">
				<div class="product_gallery_gc">
					[[product_gallery_gc]]
				</div>
			</div>
			<div class="small-12 medium-6 columns">
				<div class="product_structured_data">
					[[product_structured_data]]
				</div>
				<div class="product_name">
					<h1>[[product_name]]</h1>
				</div>
				<div class="product_sku">
					SKU: [[product_sku]]
				</div>
				<div class="product_reviews">
					[[product_reviews]]
					[[product_review_score]]
				</div>
				<div class="product_stock_status">
					[[product_stock_status]]
				</div>
				<div class="product_price">
					[[product_price_html]] <span>[[price_per_unit]]</span>
				</div>
				<div class="product_form">
					[[product_form]]
				</div>
				<div class="product_description">
					[[product_description]]
				</div>
				<div class="product_specs">
					[[product_specs]]
				</div>
			</div>
		</div>
	</section>
<!-- End Content -->