@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

HoMedics

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2019

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #ff0000;
$tertiary_color: #7dc3d3;
$fourth_color: #1aa6b7;
$background: #ebebeb;
$border: #808080;

$max_width: 1100px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Cabin Bold';
	src: url(https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/fonts/Cabin-Bold.ttf);
}

@font-face {
	font-family: 'Cabin Regular';
	src: url(https://amapolazul-03-diegomonroy.codeanyapp.com/homedics/build/fonts/Cabin-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Cabin', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Cabin', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top 1 */

.top_1 {
	padding: 10px 0;
	background-color: $background;
	font-size: 12px;
	a {
		color: #000;
		&:hover {
			color: $fourth_color;
			transition: all 0.45s ease;
		}
	}
	.a {
		a {
			margin: 0 10px;
			display: inline-block;
		}
	}
}

/* Top */

.top {
	padding: 20px 0 10px 0;
	.b {
		a {
			margin: 0 5px;
			color: $primary_color;
			display: inline-block;
			i {
				font-size: 18px;
				color: #e45f56;
			}
		}
	}
}

/* Top 3 */

.top_3 {
	background-color: #3b3b3b;
	.top-bar {
		padding: 0;
		background-color: transparent;
		.top-bar-left {
			ul {
				background-color: transparent;
				li {
					z-index: 1000;
					a {
						font-weight: bold;
						color: #fff;
						text-transform: uppercase;
						&.red {
							color: $secondary_color;
						}
						&:hover {
							color: $fourth_color;
							transition: all 0.45s ease;
						}
						&:after {
							border-color: #fff transparent transparent !important;
						}
					}
					ul.menu {
						min-width: 492px;
						background-color: #fff;
						.submenu {
							a {
								color: $primary_color;
								text-transform: inherit;
								&:hover {
									color: $fourth_color;
									transition: all 0.45s ease;
								}
							}
							.left {
								padding: 20px;
								ul {
									margin: 0;
									padding: 0;
									list-style: none;
								}
							}
							.right {
								background-color: $background;
								div {
									img {
										width: 100%;
									}
									h4 {}
									p {
										&.text_1 {}
										&.text_2 {}
									}
									&:last-child {
										padding: 20px;
									}
								}
							}
						}
					}
				}
			}
		}
		.top-bar-right {
			ul {
				background-color: transparent;
				li {
					[type=text] {
						height: inherit;
						padding: 0;
						background-color: transparent;
						border: 0;
						border-bottom: 1px solid #fff;
						border-radius: 0;
						box-shadow: none;
						color: #fff;
						&:placeholder {
							color: #fff;
						}
					}
					.button {
						padding: 5px;
						background-color: transparent;
					}
				}
			}
		}
	}
}

.f-nav {
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 9999;
}

/* Banner */

.banner {
	padding-top: 30px;
	.row {
		/*max-width: 1300px;*/
		.orbit-previous,
		.orbit-next {
			padding: 15px 10px;
			background-color: #fff;
			border-radius: 0;
			color: #3b3b3b;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	.sort_by {}
	.products {
		padding: 30px 0;
		.container_div {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			.dpr_container {
				width: 300px;
				margin-bottom: 20px;
				.wrapper-ribbon {
					padding: 10px;
					color: $secondary_color;
					font-size: 22px;
					position: absolute;
				}
				a {
					color: $primary_color;
					&:hover {
						color: $fourth_color;
						transition: all 0.45s ease;
					}
					.dpr_imagen_thumb {
						margin-bottom: 10px;
						padding: 15px;
						border: 1px solid #d7dade;
						text-align: center;
					}
					.dpr_product-name {
						margin-bottom: 10px;
						font: {
							size: 18px;
							weight: bold;
						}
					}
				}
				.dpr_suggested_price,
				.dpr_listprice {
					letter-spacing: 1px;
				}
				.dpr_suggested_price {
					color: $secondary_color;
					text-decoration: line-through;
				}
				.dpr_in_stock {
					margin-top: 10px;
				}
			}
		}
	}
	.description {}
	.page_nav {}
	&.product {
		.product_reviews {
			margin: 20px 0;
			#product_review_score {
				a {
					display: none;
				}
			}
		}
		.product_price {
			margin: 20px 0;
			font-size: 22px;
			.suggested_price {
				color: $secondary_color;
				text-decoration: line-through;
			}
		}
		.product_form {
			margin: 20px 0;
			#product_add_cart {
				display: flex;
				.input-group.plus-minus-input {
					width: 200px;
					margin: 0 10px;
				}
				.button_def {
					padding: 10px;
					border: 0;
					border-radius: 0;
					background-color: #2ba6cb;
					color: #fff;
				}
			}
		}
	}
}

#maincontent {
	max-width: $max_width;
	margin: auto;
}

/* Block 1 */

.block_1 {
	padding-bottom: 30px;
}

/* Block 2 */

.block_2 {
	.row {
		background-color: #d9d9d9;
		h3 {
			font-size: 18px;
			color: #000;
		}
		p {
			color: #e44a3c;
		}
		a {
			&.button {
				margin: 0;
				padding: 5px 20px;
				background-color: #e44a3c;
				border-radius: 50px;
				&:hover {
					background-color: #58595b;
				}
			}
		}
		.a,
		.b {
			padding: {
				top: 30px;
				bottom: 30px;
			}
		}
		.a {
			background: {
				image: url(block_2_line_bg.png);
				position: right;
				repeat: no-repeat;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	margin-top: 20px;
	.row {
		border-top: 1px solid #d9d9d9;
		h3 {
			width: fit-content;
			margin: auto;
			border-bottom: 1px solid #000;
			font-size: 18px;
			color: #000;
		}
		.a,
		.b {
			padding: 40px;
		}
		.a {
			background: {
				image: url(block_3_line_bg.png);
				position: right;
				repeat: no-repeat;
			}
			h3 {
				margin-bottom: 20px;
			}
			p {
				color: #000;
				span {
					font-size: 35px;
					color: #7dc3d3;
				}
			}
		}
		.b {
			h3 {
				margin-bottom: 40px;
			}
			input {
				border-radius: 0;
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 30px 0;
	background-color: #ebebeb;
	.a {
		a {
			margin: 0 30px;
			font: {
				size: 30px;
				weight: bold;
			}
			color: $primary_color;
			display: inline-block;
			&:hover {
				color: $fourth_color;
				transition: all 0.45s ease;
			}
		}
	}
	.b {
		a {
			padding: 0 15px;
			border-right: 1px solid $border;
			font-size: 30px;
			color: #444851;
			display: inline-block;
			&:hover {
				color: $fourth_color;
				transition: all 0.45s ease;
			}
			&:last-child {
				border: 0;
			}
		}
	}
}

/* Block 5 */

.block_5 {
	padding: 30px 0;
	h3 {
		width: fit-content;
		margin: auto;
		margin-bottom: 30px;
		border-bottom: 1px solid #000;
		font-size: 18px;
		color: #000;
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background-color: #d9d9d9;
	.text_1 {
		font-size: 18px;
	}
	.text_2 {
		font-size: 16px;
	}
	.text_3 {
		font-size: 18px;
		a {
			margin: 0 10px;
			color: $primary_color;
			display: inline-block;
			&:hover {
				color: $fourth_color;
				transition: all 0.45s ease;
			}
		}
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}